# Python virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Robot Framework output
output/
**/log.html
**/report.html
**/output.xml
**/playwright-log.txt

# Browser Library / Playwright
playwright-report/